{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<h2>Choose the author below:</h2>
	{% for author in author_list %}
	<ul class="list-group">		
		<li class="list-group-item hidden_li"><a href="{% url 'one_author' author.pk %}">{{ author }}</a></li>
		
	</ul>
	{% endfor %}
	<a class="btn btn-success btn-lg" href="/" role="button">Main Page</a>
</div>


{% endblock %}