{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<form action='{% url "get_author" %} ' method="POST">
		<fieldset>
    	<legend>Introduce yourself</legend>	
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="btn btn-success"/>
		</fieldset>
	</form>
</div>		
{% endblock %}