{% extends 'base.html' %}
{% block content %}
<style>
	.with_margin {margin-top: 6px;}
</style>
	<div class="container-fluid">
       <div class="row">
			<div class="col-xs-8">
				<h1 class="bg-primary text-center roww">Books:</h1>
				<ul class="list-group">	
				{% for authors, books in books.items %}
					<li class="list-group-item hover_li">
					{{ authors }}
						<ul class="list-group">
						{% for book in books %}
							<li class="list-group-item hidden_li">{{ book }}</li>
							{% empty %}
							<li class="list-group-item">No books</li>
							{% endfor %}
						</ul>
					</li>
				{% empty %}
					<li class="list-group-item">No Authors</li>	
				{% endfor %}
				</ul>
			<a class="btn btn-info btn-lg" href="/get_author" role="button">Add a new book</a>		
			<a class="btn btn-info btn-lg" href="/critic/review" role="button">Do a book review</a>		
			<a class="btn btn-info btn-lg" href="/critic/see_reviews_list/" role="button">See existing reviews</a>	
			     	
			
			</div>
			<div class="col-xs-4">
				<h1 class="bg-primary text-center">Authors:</h1>
				<ul class="list-group">
					{% for author in author_name %}
						<li class="list-group-item">{{ author }}</li>		
					{% empty %}
						<li>No authors</li>
					{% endfor %}

				</ul>
				<a class="btn btn-info btn-lg with_margin" href="/get_author" role="button">Add a new author</a>
				<a class="btn btn-info btn-lg with_margin" href="/get_author/get_list" role="button">meet the author closer</a>	
			</div>
		</div>
    </div>
{% endblock %}