{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<ul class="list-group">
		<li class="list-group-item hidden_li">{{ author }}</li>
	</ul>
	<a class="btn btn-success btn-lg" href="/" role="button">Main Page</a>
</div>	
{% endblock %}
