{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<h2 class="bg">Success.You will see yourself on the main page.
	</h2>	
	<a class="btn btn-success btn-lg" href="/get_author" role="button">Go Back</a>	
	<a class="btn btn-success btn-lg" href="/" role="button">Main Page</a>
</div>		
{% endblock %}