<!DOCTYPE>
<html lang="en">
<head>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <style>
        .container-fluid {height:600px;}
        .wrapper {background-color: rgba(112, 106, 141, 0.43);
                    height: 200px;
                    margin-top: 63px;
        }
        .wrapper p {padding-top: 35px;}
    </style>
    </head>
    

<body>
    <h1 class="text-center text-uppercase text-success">Welcom to my app</h1>
    {% block content %}{% endblock %}
    {% block footer %}
    <div class="wrapper">
        <p class="text-center">Thanks for visiting my site.</p>
    </div>    
    {% endblock %}
</body>
</html>
