{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	{% for review in review_list %}
	<ul class="list-group">		
		<li class="list-group-item hidden_li">
			<a href="{% url 'see_one_review' review.pk %}">{{ review }}</a>
		</li>
	</ul>
{% endfor %}
</div>	

{% endblock %}