{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<a class="btn btn-success btn-lg" href="/critic/see_reviews_list" role="button">See reviews list</a>	
	<a class="btn btn-success btn-lg" href="/critic/review/" role="button">Go Back</a>
</div>		
{% endblock %}